h1 {
    color: blue;
    background-color: orange;
    border: 6px solid red;
}

h2 {
    color: lime;
    background-color: purple;
}

div {
    color: orange;
    background-color: #009688;
    border: 9px dotted white;
}

p {
    color: white;
    background-color: #004D40;
}

#page-container {
    max-width: 900px;
    width: 100%;
    min-width: 500px;
    margin: auto;
}